@charset "UTF-8";
/***!  /media/astroid/css/lenis.min.css?78ba29a618aad5f6f8c8e4266984e70b  !***/

html.lenis,html.lenis body{height:auto}.lenis.lenis-smooth{scroll-behavior:auto!important}.lenis.lenis-smooth [data-lenis-prevent]{overscroll-behavior:contain}.lenis.lenis-stopped{overflow:clip}.lenis.lenis-smooth iframe{pointer-events:none}

